# dependencies
node_modules/

# next.js
.next/
out/

# env files
.env
.env.local

# prisma
prisma/dev.db
prisma/dev.db-journal

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# editor
.vscode/
.idea/
.env


